.nome{
    color: rgb(1, 7, 7);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
    color: #333;
}

h1 {
    background-color: #f10606;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 0;
}

h2 {
    color: #000000;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.imgf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.numeros {
    width: 700px;
    padding: 30px;
    margin: 30px 0;

    background-color: #111;
    color: white;

    border: 3px solid #e30613;
    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.numeros h2 {
    color: #e30613;
}

.numeros p {
    line-height: 1.6;
}

.conteudo {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.fotos {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.fotos img {
    width: 453,75px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.fotos img:first-child {
    margin-left: 120px;
}

.fotos img:last-child {
    margin-left: 110px;
}